#toolbar
{

	position:fixed;
	bottom:0px;
	right:-300px;
	height:98%;
	width:260px;
	/*padding-top:10px;*/
	padding-top:27px;;
	padding-left:20px;
	padding-right:20px;
	color: white;
	background-color: #262c33;
	background: -webkit-linear-gradient(303deg, #363e47, #1a1f24);
	background: linear-gradient(147deg, #363e47,#1a1f24);
	z-index:10000000000 !important;
}

html
{
	position:static;
}

body 
{
	width:100%;
}

h3
{
	color: #00b4ff;
	font-family: Helvetica;
}

.title-form {
	font-size: 30px;
	padding-bottom: 10px;
	color: #00b4ff;
	font-family: Helvetica;

}

.sub-title-form {
	font-size: 15px;
	color: white;
}

.title-welcome {
	margin-top: 5px;
	font-size: 30px;
	color: #00b4ff;
	font-family: Helvetica;

}

.sub-title-welcome {
	font-size: 15px;
	color: white;
}


#close {
	float: right;
	cursor: pointer;
}

#errors {
width: 80%;
margin-bottom: 10px;
}

#error {
	margin-top: 10px;
	border: none;
	color: white;
	background: red;
	border-radius:2px;
	font-family: Helvetica;
	line-height: normal;
	vertical-align: middle;
	cursor: pointer;
	padding: 4px 6px 5px;
	text-decoration: none;
}

#messages {
	font-family: Helvetica;
	font-size: 15px;
	width: 80%;

}

#success {
	margin-top: 10px;
	border: none;
	color: white;
	background: green;
	border-radius:2px;
	font-family: Helvetica;
	line-height: normal;
	vertical-align: middle;
	cursor: pointer;
	padding: 4px 6px 5px;
	text-decoration: none;
}

#dismiss {
	float:right;
}

#triangle
{
	display:none;
	opacity:0;
	z-index:1000000000;
	position:fixed;
	bottom:130px;
	margin:-10px;
	right:100px;
	width:0px;
	height:0px;
	border-color: #1a1f24 transparent transparent;
	border-style: solid;
	border-width:10px 10px 0px  10px;
}

.button {
	border: none;
	color: white;
	background: #00b4ff;
	border-radius:2px;
	font-family: Helvetica;
	line-height: normal;
	vertical-align: middle;
	cursor: pointer;
	padding: 4px 6px 5px;
	text-decoration: none;
	
}

input[type="email"], input[type="text"], input[type="password"] {
	color: black;
	height: 20px;
	width: 80%;
	border: solid 1px #00b4ff;
	border-radius: 2px;
	font-family: Helvetica;
	margin-bottom: 7px

}

#streamnation
{
	color: black;
	background: #00b4ff url('http://imageshack.com/a/img843/2358/b2tg.png') no-repeat;
	border-radius:2px;
	font-family: Helvetica;
	line-height: normal;
	vertical-align: middle;
	cursor: pointer;
	padding: 4px 6px 5px;
	margin-right:5px;
}

#streamnation a {
	color: white;
	font-family: Helvetica;
	text-decoration: none;	
}

#streamnation #button-add {
	margin-left: 12px;
}

#streamnation:hover
{
	background-color: #00c5ff;
	
}

.category
{
	font-family: Helvetica;
	padding-bottom:5px;
	padding-top:15px;
	color: #00b4ff;
	border-bottom: 3px solid white;
}

#avatar
{
	width: 100px;
	border-radius:100%;
	margin: 0 auto;
}

#signout {
	float: right;
	margin-top: 40px;
	margin-right: 40px;
}

#profile {
	float: right;
	margin-right: 30px;
}

div.sub {
	margin: 0 auto;
	width: 80%;
	margin-top:15px;
}

div.add {
	margin-bottom: 10px;
}

.subscribe-title {
	font-size: 15px;
	color: white;
	z-index: 100;
}

.subscribe-img {
	width: 150px;
	border-radius: 2px;
	border: 2px solid #00b4ff;
	max-height: 150px;
	margin-bottom: -20px;
}

.subscribe-img:hover {
 	border-color: white;
}

.subscribe-desc {
	margin-left: 10px;
	margin-bottom: 15px;
	font-size: 10px;
}

.delete-subs {
	margin-top: -160px;
	margin-left: 140px;
	position: absolute;
	float: left;
	color: white;
	cursor: pointer;
}

/*    ///////////////////////////////     */

.bar {
  position: relative;
  height: 2px;
  width: 500px;
  margin: 0 auto;
  background: #fff;
  margin-top: 150px;
}

.circle {
  position: absolute;
  top: -30px;
  margin-left: -30px;
  height: 60px;
  width: 60px;
  left: 0;
  background: #fff;
  border-radius: 30%;
  -webkit-animation: move 5s infinite;
}

#wait {
  position: absolute;
  top: -35px;
  right: -85px;
  text-transform: uppercase;
  color: #347fc3;
  font-family: helvetica, sans-serif;
  font-weight: bold;
}

@-webkit-keyframes move {
  0% {left: 0;}
  50% {left: 100%; -webkit-transform: rotate(450deg); width: 150px; height: 150px;}
  75% {left: 100%; -webkit-transform: rotate(450deg); width: 150px; height: 150px;}
  100 {right: 100%;}
}













